<div class="w-screen h-screen flex flex-col justify-between items-center relative">

  @if (gameOver()) {
    <!-- Overlay -->
    <div ng class="w-screen h-screen absolute top-0 left-0 bg-black opacity-20 z-90"></div>

    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-100 w-[80%] max-w-[600px]
    p-5 rounded-2xl bg-white text-cyan-950 border flex flex-col justify-center items-center gap-5">

      <p class="text-3xl font-bold text-center dancing-script-title">{{
        youWon() ? '¡Lo lograste!' : '¡Gran trabajo!'
      }}</p>

      @if(youWon()) {
        <p class="text-xl font-medium text-center">
          En menos de
          <span class="value">
            {{ record() }}
          </span>
        </p>

        <p class="text-xl font-medium text-center">Tu espíritu navideño está al máximo.</p>
      } @else{
        <p class="text-xl font-medium text-center">Casi lo logras, no dejes de intentarlo con más ganas.</p>
      }


      <button class="z-10 rounded-md bg-indigo-800 hover:bg-blue-700 active:bg-blue-800 py-2 px-4" (click)="reset()">
        <p class="text-center text-white">Volver a jugar</p>
      </button>

    </div>
  }

  <div class="flex flex-col gap-2 mt-12">

    <p class="text-3xl font-bold text-center dancing-script-title">Decora tu arbolito</p>

    <p class="text-xl font-medium text-center">
      En menos de
      <span class="value">
        {{ formattedRemaining() }}
      </span>
    </p>
  </div>

  <img [src]="chirstmasTree" alt="Arbol de navidad" class="absolute top-1/2 left-1/2 w-full transform -translate-1/2 z-0 max-w-[700px]">

  <div class="relative flex justify-around items-center gap-2 p-1 bg-white max-h-[200px] w-full aspect-square">

    <img [src]="snowLandscape" alt="fondo de nieve blanca" class="absolute top-0 left-0 w-full transform -translate-y-1/2">

    <div class="flex justify-around items-center">
      @for (item of decorationChirstmas; track item ; let i = $index;let isLast = $last) {

        <div class="relative w-10 h-10">
          <img [class]="`w-${isLast ? '10' : '8'} absolute top-1/2 left-1/2 transform -translate-1/2 aspect-auto`" style="aspect-ratio: 1/1;"
          cdkDrag [src]="item" alt="Decoracion de arbol de navidad" (cdkDragReleased)="droped(`${i}`)">
          @if (!isLast) {
            <img class="w-8 absolute top-1/2 left-1/2 transform -translate-1/2 aspect-auto" style="aspect-ratio: 1/1;"
            cdkDrag [src]="item" alt="Decoracion de arbol de navidad" (cdkDragReleased)="droped(`${i}_2`)">
          }
        </div>

      }
    </div>

  </div>

</div>
