/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
}
.dancing-script-title {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

:root {
  --spacing: 0.8rem;
  --text-3xl: 2.75rem;
  --text-3xl--line-height: 2.75rem;
  --text-xl: 2.15rem;
}
